---
title: Community Health Assessment 2015
summary: Philadelphia Department of Public Health
---

<!doctype html>
<html>
<head>
  <title>City of Philadelphia &mdash; Community Health Assessment</title>
  <link rel="stylesheet" href="//cityofphiladelphia.github.io/patterns/dist/0.12.4/css/patterns.css">
  <link rel='icon' type='image/x-icon' href="//cityofphiladelphia.github.io/patterns/images/favicon.ico">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:700,400,300' rel='stylesheet'>
  <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  
  {% include header-health.html %}
  {% include tag-manager.html %}

  <div class="small-24 columns">
    <iframe seamless="true" width="100%" height="800px" scrolling="no" frameborder="0" src="http://laurenancona.github.io/health-dashboard/"></iframe>
    </div>

  </div>

  {% include source-link.html %}

  <!-- End Footer -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/foundation.min.js"></script>
  <script src="//cityofphiladelphia.github.io/patterns/dist/0.11.1/js/patterns.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>

</html>