---
title: Community Health Assessment 2015
summary: Philadelphia Department of Public Health
---

<!doctype html>
<html>
<head>
  <title>City of Philadelphia &mdash; Community Health Assessment</title>
  <link rel="stylesheet" href="//cityofphiladelphia.github.io/patterns/dist/0.12.4/css/patterns.css">
  <link rel='icon' type='image/x-icon' href="//cityofphiladelphia.github.io/patterns/images/favicon.ico">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:700,400,300' rel='stylesheet'>
  <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  
  {% include header-health.html %}
  {% include tag-manager.html %}

  <div class="small-24 columns">

    <script type='text/javascript' src='https://public.tableau.com/javascripts/api/viz_v1.js'></script>
    <div class='tableauPlaceholder' style='width: 1004px; height: 869px;'>
      <noscript>
        <a href='http:&#47;&#47;www.phila.gov&#47;health'><img alt='HIV &amp; Reproductive Health ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;He&#47;HealthIndicators_2&#47;HIVReproductiveHealth&#47;1_rss.png' style='border: none' /></a>
      </noscript>
      <object class='tableauViz' width='1004' height='869' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='site_root' value='' />
        <param name='name' value='HealthIndicators_2&#47;HIVReproductiveHealth' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;He&#47;HealthIndicators_2&#47;HIVReproductiveHealth&#47;1.png' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='showVizHome' value='no' />
        <param name='showTabs' value='y' />
        <param name='bootstrapWhenNotified' value='true' />
      </object>
    </div>

  </div>

  {% include source-link.html %}

  <!-- End Footer -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/foundation.min.js"></script>
  <script src="//cityofphiladelphia.github.io/patterns/dist/0.11.1/js/patterns.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>

</html>