<head>

  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}Reports</title>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:700,400,300' rel='stylesheet'>
  <link rel="stylesheet" href="{{site.path}}/assets/css/main.css">
  <link rel='icon' type='image/x-icon' href="//cityofphiladelphia.github.io/patterns/images/favicon.ico">
  
  <!--pattern stylesheet includes foundation css -->
  <link rel="stylesheet" href="//cityofphiladelphia.github.io/patterns/dist/0.12.1/css/patterns.css">
  
</head>