.gapi-analytics-data-chart-table-styles-thr,
.gapi-analytics-data-chart-table-styles-tr {
  font:inherit;
  text-align:right;
/*  width: inherit*/
}
.gapi-analytics-data-chart-table-styles-tr-head {
  font-weight:700
}
.gapi-analytics-data-chart-table-styles-tr {
  background:#f8f8f8
}
.gapi-analytics-data-chart-table-styles-tr-hover {
  background-color: #fffce8
}
.gapi-analytics-data-chart-table-styles-tr-selected {
  background-color: #e5f3f9
}
.gapi-analytics-data-chart-table-styles-th {
  border-bottom:1px solid #e8e8e8;
  padding:12px 8px 3px!important;
}
td.gapi-analytics-data-chart-table-styles-td {
  padding:8px 8px 7px!important
}
.gapi-analytics-data-chart-table-styles-th,
.gapi-analytics-data-chart-table-styles-td {
  text-align:right
}
.gapi-analytics-data-chart-table-styles-th:first-child,
.gapi-analytics-data-chart-table-styles-td:first-child {
  text-align:left
}

.gapi-analytics-data-chart-table-styles-th, td.gapi-analytics-data-chart-table-styles-td, .gapi-analytics-data-chart-table-styles-tr {
    padding:0.5625em 0.625em!important;
  }

 thead tr th,
  thead tr td,
  tr th{
    background-color:#9299A5!important;
    color: white!important;
    padding:1em!important;
    font-size:12!important;
    letter-spacing: .05px!important;
    text-align: left!important;

  }

  tr.even, tr.alt,
  tr:nth-of-type(even) {
    background-color:#dbe1e3!important;
    padding:0.5625em 0.625em!important;

  }
  tr.odd, tr, tr:nth-of-type(odd) {
    background-color:#f7f7f7!important;
    margin:2px 2px!important;

  }

  table tbody tr td {
      padding:0.5625em 0.625em!important;
  }